DISCORD_TOKEN=TOKEN_EXAMPLE

DATABASE_URL=postgresql://user_admin:user_password123@127.0.0.1:5437/db_admin

POSTGRES_USER=user_admin
POSTGRES_PASSWORD=user_password123
POSTGRES_DB=db_admin

POSTGRES_HOST=postgres
POSTGRES_PORT=5437